.request_list_btn {
    background-color: white !important;
    color: black !important;
    font-size: .875em !important;
    min-width: 115px;
    margin: 5px;
    padding: 5px !important;
    border-color: #ccc !important;
    border-radius: 15px !important;
}
.request_list_btn span{border-radius: 8px}
.request_list_btn span.pending{background:#f1c40f !important}
.request_list_btn  .badge {
    padding: 3px 6px !important;
}

.badge{padding: 5px 10px !important;}
.badge-success{background: #edf2dc !important; color: #333 !important; font-weight: normal !important;}
.badge-success span{background: #81b014  !important;}
.badge-dark {background: #efefef  !important; color: #333 !important; font-weight: normal !important;}
.badge-dark span{background: #717171  !important; }
.badge-danger {background: #fce1e6  !important; color: #333 !important; font-weight: normal !important;}
.badge-danger span{background: #c91313  !important;}
.badge-secondary {background: #fdf6db  !important; color: #333 !important; font-weight: normal !important;}
.badge-secondary span{background: #f1c40f  !important;}



.approved, .nav-link .page-item.active .page-link{
    background-color: #82af13  !important;
    border-color: #82af13;
    color: white !important;
}



.pagination .nav-link{
    padding: 0px !important;
    border-radius: 0px !important;
}

.badge-light{
    border: 1px solid #ccc !important;
}
.badge span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
    color: #333 !important;
}


.pagination_btn{
    margin-left: -1px;
    line-height: 1.25;
    color: #000000 !important;
    background-color: #fff !important;
    border: 1px solid #dee2e6;
    border-radius: 0px !important;
}

.request_list_btn.active {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(130, 175, 19, 0.2) !important;
}

.pagination .active{
    background-color: #82af13 !important;
    color: white !important;
}

.fa-check-circle{
    color: #82af13 !important;
}

.fa-times-circle{
    color: red  !important;
}