div.schedule_info {
    font-size: 12px;
    text-align: center;
}

.card .rest_day{
    background-color: #e6e6e6;
    color: black !important;
}

.card .absent{
    background-color: #ffe2e2;
    color: black !important;
}

.card .late{
    background-color: #ffeece;
    color: black !important;
}

.card .on_leave{
    background-color: #eefcfe;
    color: black !important;
}

.card .early{
    background-color: #f3ffe2;
    color: black !important;
}