.emp_sched .card-body{padding:2px !important;border-top:1px solid #ccc !important;}
.emp_sched .card{margin-bottom: 5px !important}

div.schedule_info {
    font-size: 11px;
    text-align: center;
}
div.schedule_info div {
    font-size: 11px;
}
div.schedule_info div:nth-child(2) {
    font-size: 10px;
}
.report-schedule .card-header{display: none}
.report-schedule .navigator-bar{margin-bottom: 0 !important}
.emp_sched .rest_day,
.legends .rest_day .box{
    background-color: #d7d7d7;
    color: black !important;
}

.emp_sched .holiday,
.legends .holiday .box{
    background-color: #b1faff !important;
    color: black !important;
}
.emp_sched .absent,
.legends .absent .box{
    background-color: #ffe2e0;
    color: black !important;
}
.today-sched .emp_sched div:nth-child(2){background: #eee; line-height: 130%}
.emp_sched .late,
.legends .late .box{
    background-color: #ffefcd;
    color: black !important;
}

.emp_sched .on_leave,
.legends .on_leave .box{
    background-color: #eefcfe;
    color: black !important;
}

.emp_sched .undertime,
.legends .undertime .box{
    background-color: #fedeb7;
    color: black !important;
}

.emp_sched .early,
.legends .early .box{
    background-color: #f3ffe2;
    color: black !important;
} 

.emp_sched .no_status,
.legends .no_status .box{
    background-color: #eee;
    color: black !important;
}
.Hourframe{margin:0 !important;padding-top: 10px; clear:both;}

.Hourframe div {
    width: 4%;
    font-size:.75em;
    border-left:1px solid #999;
}
.Hourframe div span{position:relative;top:-14px; left:-10px; }

.emp_sched{
    margin: 5px;
    margin: 2px 0 !important;
    overflow: hidden;
}
.emp_sched span{display: block;padding:3px 5px;font-size:.75em;}
.today-sched .emp_sched{height: 20px;}
.calendar-sched{clear: both;}
.viewmore {background: rgba(0,0,0,.25) !important;width: 100%;left:0; padding:10px 0;bottom: 0; position: fixed;z-index: 2000; text-align: center;}
.viewmore button{width: 100px; border: 0; text-align: center;margin:0 auto;}
.legends {margin-bottom: 20px;float: right;}
.legends div{margin-right: 10px;font-size:10px}
.legends .box {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 2px;
    border: 1px solid #ccc;
    position: relative;
    top:2px;
}
.legends .status{font-size: 10px; color: #666}