

.request-tab {
    position: relative;
    top: 12px;
    left: 21px;
    z-index: 100;
}
.request-tab .nav-tabs{border: 0 !important;}
.request-tab a{padding-bottom: 10px; margin-bottom: 0 !important; border:0 !important; background: #ccc; color:#333 !important; margin-right: 5px}
.request-tab a.active {
     background-color: #82af13  !important; color: #fff !important;
}
.request_list_btn{
    background-color:white !important;
    color: black !important;
    font-size: 12px;
    margin: 10px;
    border-color: gray !important;
    border-radius: 25px !important;
}
.filters {margin-top:0; width: 55%; float: right;}
.filters.myrequest-filter {margin-top:0; width: 35%; float: right;}
.filters .date-range label {
    float: left;
    font-size: 12px;
    padding: 10px;
    text-transform: uppercase;
    background: #ccc;
}
.filters .col{padding: 0px !important; margin:0 10px 0 0 !important;}
.filters .date-range > div > div{width: 37.5%; float: left; margin-right: 5px}
.filters .date-range {
    width: 45% !important;
    flex: 0 48%;
}
.filters.myrequest-filter .date-range {
    width: 80% !important;
    flex: 0 80%;
}
.filters .dept {
    width: 27%;
    flex: 10%;
}
.filters .search-name{width: 25%;flex: 10%;}
.filters .filter-button{ width: 15%;flex: 5%; }
.filters select, .filters input[type="textfield"]{font-size:1rem;}
.denied{
    background-color: red !important;
    color: white !important;
}

.canceled{
    background-color:gray !important;
    color: white !important;
}

.approved, .nav-link .page-item.active .page-link{
    background-color: #82af13  !important;
    border-color: #82af13;
    color: white !important;
}

.pending{
    background-color: yellow !important;
    color: white !important;
}

.pagination .nav-link{
    padding: 0px !important;
    border-radius: 0px !important;
}

.badge-light{
    border: 1px solid gray !important;
}

.pagination_btn{
    margin-left: -1px;
    line-height: 1.25;
    color: #000000 !important;
    background-color: #fff !important;
    border: 1px solid #dee2e6;
    border-radius: 0px !important;
}

.request_list_btn.active {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(130, 175, 19, 0.2) !important;
}

.pagination .active{
    background-color: #82af13 !important;
    color: white !important;
}

.fa-check-circle{
    color: #82af13 !important;
}

.fa-times-circle{
    color: red  !important;
}

.display-block{
    display: block !important   ;
    width: 100px!important;
}

.input-feedback{
    color: red !important;
}

