.ev-color{
    color: #82af13 !important;
}
.sortby {
    display: block !important;
    margin: 0;
    position: relative;
    top: 33px;
    z-index: 1000;
}

.sortby > div
 {
    float: right;
    max-width: 290px;
    flex: unset;
    margin-right: 10px;
}
.sortby label {
    float: left;
    background: #ccc;
    padding: 6px;
    display: inline-block;
}
.sortby .form-group {
    float: left;
    max-width: 200px;
    margin-right: 13px;
}
.sortby label{
    padding: 7px;
}
.sortby select{
    border-radius: 0;
}
.sortby .btn {
    float: left;
    max-width: 100px;
}