/*
 * Dashboard css File
*/
.card {
    border: 0 !important;
    border-radius: 0  !important;
    box-shadow: none;
}
.card-header {
    padding: 0  !important;
}
 .card-title {
    background-color: transparent ;
    color: #82af13;
    padding: 0;
    text-align: center;
    font-size: 1.5em;
}
.table thead th {
    font-weight: normal !important;
}