.quickpunch{
    text-align : center;
    background-color: #313131;
    color: white;
}

.note{
    text-align: justify;
    font-family: BhrHeaderFont,Trebuchet MS !important;
    font-size: 12px;
}

.quickpunch .time{
    font-size: 50px;
    margin-top: 20px;
}

.quickpunch .btn {
    width: 130px;
    margin: 30px 10px;
}

.quickpunch .date,.quickpunch .label {
    color: #d4d4d4;
}

.btns{padding-top: 32px}
.dtr-table{overflow: scroll; }
.dtr-table .table td,.dtr-table .table th,
.table-responsive .table td,.table-responsive  .table th,
{
    border: 1px solid #dee2e6;
}
.dtrSummary thead th{font-size: 12px; width: 65px}
.dtrSummary tbody td,.dtrSummary thead th{border:1px solid #ccc;text-align: center;padding: 5px; width: 50px; vertical-align: middle;font-size: 12px}

.dtrSummary thead th.rd{background-color: #868686;color: white;}
.dtrSummary thead th.SH{background-color: #ffc247;color: white;}
.dtrSummary thead th.LH{background-color: #3853ca;color: white;}
.dtrSummary thead th.th-dept{width: 100px}
.dtrSummary thead th.th-name{width: 100px}