.quickpunch{
    text-align : center;
    background-color: #313131;
    color: white;
}

.note{
    text-align: justify;
    font-family: BhrHeaderFont,Trebuchet MS !important;
    font-size: 12px;
}
.filters.filter-dtr {width: 100%; float: none;margin:0; padding: 0 20px}
.filters.filter-dtr .filter-button {
    width: 25%;
    flex: 25% 1;
}
.filters.filter-dtr .date-range {
    width: 33% !important;
    flex: 0 1 34%;
}

.dtr-summary-table {
    width: 100%
}
.quickpunch .time{
    font-size: 50px;
    margin-top: 20px;
}

.quickpunch .btn {
    width: 130px;
    margin: 30px 10px;
}

.quickpunch .date,.quickpunch .label {
    color: #d4d4d4;
}

.btns{padding-top: 32px}
.dtr-table .table td,.dtr-table .table th,
.table-responsive .table td,.table-responsive  .table th,
{
    border: 1px solid #dee2e6;
}
.dtrSummary thead th{font-size: 12px; width: 65px}
.dtrSummary tbody td,.dtrSummary thead th{border:1px solid #ccc;text-align: center;padding: 5px; width: 50px; vertical-align: middle;font-size: 12px}

.dtrSummary thead th.RD{background-color: #868686;color: white;}
.dtrSummary thead th.SH{background-color: #ffc247;color: white;}
.dtrSummary thead th.LH{background-color: #3853ca;color: white;}
.dtrSummary thead th.th-dept{width: 100px}
.dtrSummary thead th.th-name{width: 100px}

.export-drop-down{
    display: inline;
}

.dropdown-item:focus{
    background-color:#82af13  !important;    
    color: white;
}