.quickpunch{
    text-align : center;
    background-color: #343a40;
    color: white;
}
.quickpunch h3{color: #fff !important; font-size: 2rem}
.quickpunch .note{padding: 0 20px}
.note{
    text-align: justify;
    font-size: 12px;
}

.quickpunch .time{
    font-size: 50px;
    margin-top: 20px;
}

.quickpunch .btn {
    width: 100px;
    margin: 30px 10px 10px;
}

.quickpunch .date,.quickpunch .label {
    color: #d4d4d4;
}