.emp_sched .card-body{padding:2px !important;border-top:1px solid #ccc !important;}
.emp_sched .card{margin-bottom: 5px !important}

div.schedule_info {
    font-size: 12px;
    text-align: center;
}

.emp_sched .rest_day{
    background-color: #d7d7d7;
    color: black !important;
}

.emp_sched .holiday{
    background-color: #b1faff !important;
    color: black !important;
}
.emp_sched .absent{
    background-color: #ffe2e0;
    color: black !important;
}

.emp_sched .late{
    background-color: #ffefcd;
    color: black !important;
}

.emp_sched .on_leave{
    background-color: #eefcfe;
    color: black !important;
}

.emp_sched .undertime{
    background-color: #fedeb7;
    color: black !important;
}

.emp_sched .early{
    background-color: #f3ffe2;
    color: black !important;
} 

.emp_sched .no_status{
    background-color: #f0f0f0;
    color: black !important;
}
