.empsched .card-body{padding:2px !important;border-top:1px solid #ccc !important;}
.empsched .card{margin-bottom: 5px !important}

div.schedule_info {
    font-size: 12px;
    text-align: center;
}

.card .rest_day{
    background-color: #d7d7d7;
    color: black !important;
}

.card .holiday{
    background-color: #b1faff !important;
    color: black !important;
}
.card .absent{
    background-color: #ffe2e0;
    color: black !important;
}

.card .late{
    background-color: #ffefcd;
    color: black !important;
}

.card .on_leave{
    background-color: #eefcfe;
    color: black !important;
}

.card .undertime{
    background-color: #fedeb7;
    color: black !important;
}

.card .early{
    background-color: #f3ffe2;
    color: black !important;
} 

.card .no_status{
    background-color: #f0f0f0;
    color: black !important;
}
