APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:ZRta+nw+DRJkZLMRlhyWhs26RBi5tqt2ggadqNRp7CQ=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=evox-app
DB_USERNAME=root
DB_PASSWORD=

FRONT_END_URL=http://localhost:3000/

DRUPAL_EVOX_DB_HOST=127.0.0.1
DRUPAL_EVOX_DB_PORT=3306
DRUPAL_EVOX_PAYROLL_DB_DATABASE=evox_payroll
DRUPAL_EVOX_PORTAL_DB_DATABASE=evox_portal
DRUPAL_EVOX_DB_USERNAME=root
DRUPAL_EVOX_DB_PASSWORD=


BIO_DB_CONNECTION=sqlsrv
BIO_DB_HOST=10.8.2.13\EVOXDB
BIO_DB_PORT=49491
BIO_DB_DATABASE=biometrics_new
BIO_DB_USERNAME=anviz
BIO_DB_PASSWORD=


BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=08f7e6611dbef3
MAIL_PASSWORD=dd117fea17c30a
MAIL_ENCRYPTION=tls

MAIL_FROM_ADDRESS=evox@eastvantage.com
MAIL_FROM_NAME=EVO-X

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

JWT_SECRET=w5uaOJlBbSQZj3cgyZJntkZkKv6DewTI7GT4rNHNMpqnfLQ41d0ac6HyfqlFCFaG


BHR_API_KEY=9e029a87fbeba1efad146c1ecdf29f03d166beeb
BHR_API_LINK=https://${BHR_API_KEY}:x@api.bamboohr.com/api/gateway.php/eastvantage/v1/