/node_modules
/public/hot
/public/storage
/storage/fonts/
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
# PHPUnit / Xdebug coverage
coverage/
storage/coverage/

# Clover / XML reports
coverage.xml
clover.xml
phpunit-clover.xml
