/*
 * Dashboard css File
*/
table .center{
	text-align: center;
}

.body {
}

.month {
    font-size: 12px;
    line-height: 10px;
}

.day{
	font-size: 1.5em;
    color: #82af13;
    font-weight: bold;
    line-height: 100%;
}

.dayname {
	font-size: 12px;
}

.present{
	color: #82af13;
}

.absent{
	color: red;
}

.rest-day{
	color: gray;
}

.vacation_leave, .sick_leave{
	color : rgba(49, 106, 197, 0.93);
}

.rest_day-bg-color{
	background: #efefef !important;
}

.holiday-bg-color{
	background: #fff9de !important;
}

.absent-bg-color{
	background: #f7dbd6 !important;
}

.lh < .center{
	background-color: black !important;
}
.sh,.lh{
	color: rgb(255, 194, 71) !important; 	
}

.dtr-filter {
	width: 40%;
	float:left;
}


.year-dropdown {
	float: left;
	width: 20% !important;
	margin-right: 10px;
}
.month-dropdown {
	float: left;
	width: 25% !important;
	margin-right: 10px;
}
.payroll-cutoff-dropdown {

	float: left;
	width: 40% !important;
	margin-right: 10px;
}