.profile-header{width: 80%; margin-left: 25px}
.profile-header .picture {
    float: left;
    display: inline-block;
    overflow: hidden;
    flex: none;
    width: 173px;
    padding: 0 !important;
    margin: 0 15px 0 0 !important;
}

.profile-header img {
    margin-top: 15px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:1px solid #ccc;
}