.profile-header{width: 80%; margin-left: 25px}
.profile-header .picture {
    float: left;
    display: inline-block;
    overflow: hidden;
    flex: none;
    width: 173px;
    padding: 0 !important;
    margin: 0 15px 0 0 !important;
}

.profile-header img {
    margin-top: 15px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:1px solid #ccc;
}

.profile-header .information{float: left; position: relative;top:20%;}
.profile-header input{border:0 !important; background-color: transparent !important;}

.profile-tabs{position: absolute;top:0; right: 0}
.profile-tabs button{background: #ccc  !important; border:0 !important; margin-left:5px;}
.profile-tabs button a{color:#333 !important;}
.profile-tabs button.active{background: #82af13 !important;}
.profile-tabs button.active a{color:#fff !important;}