.navbar {
    background-color: #222 !important;
  }
  
a, .navbar-brand, .navbar-nav .nav-link {
  color: #bbb !important;
}

.nav-link:hover{
  color: white !important;
}

.navbar{
	border-bottom: 5px solid #82af13 !important;
}

.header{
  background: #82af13;
  color: #fff;
}
    
.header h1{
  padding: 12px;
  font-size: 16px;
}
    
.loader {
  left: 50%;
  margin-left: -4em;
}

a.dropdown-item{
  color: black !important;
}

a.dropdown-item:hover{
  background-color: #82af13;
  color: white !important;
}