.icon-column {
    width: 10%;
    border-right: 1px solid white !important;
    text-align: center;
}

.details-column {
    width: 50%;
    border-left: 1px solid white !important;
    border-right: 1px solid white !important;
}
.note-column {
    width: 40%;
    border-left: 1px solid white !important;
}

.time-off-icon {
    width: 50px;
    height: 50px;
}
.leave-row {
    border-bottom: 1px solid #cccccc !important;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.time-off-date {
    font-size: 17.5px;
}


.fa-icon {
    color: #82af13;
    font-size: 50px;
}

.profile-header{width: 80%; margin-left: 25px}
.profile-header .picture {
    float: left;
    display: inline-block;
    overflow: hidden;
    flex: none;
    width: 173px;
    padding: 0 !important;
    margin: 0 15px 0 0 !important;
}

.profile-header img {
    margin-top: 15px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:1px solid #ccc;
}

.profile-header .information{float: left; position: relative;top:40px;}
.profile-header input{border:0 !important; background-color: transparent !important;}

.profile-tabs{position: absolute;top:-5px; right: 5px}
.profile-tabs .nav-tabs{border: 0 !important;}
.profile-tabs a{padding-bottom: 10px; margin-bottom: 0 !important; border:0 !important; background: #ccc; color:#333 !important; margin-right: 5px;}
.profile-tabs a.active {
     background-color: #82af13  !important; color: #fff !important;
}