.nav-notification-bell-dropdown-menu {

    width: 300px; 
    /* right: auto !important; */
    left: -500% !important;
    /* top: 100% !important; */
    top: 50px  !important; 
    transform: unset !important;
  
  }

  .bell-toggle {

    color: #fff !important; /* white font color */
  
    background-color: transparent !important; /* remove the btn-success background color */
  
    border: none !important; /* remove the btn-success border */
  
    padding: 0 !important; /* remove the btn-success padding */
  
  }
  
    
  .bell-toggle:hover {
  
    background-color: transparent !important; /* remove the hover background color */
  
    color: #fff !important; /* keep the white font color on hover */
  
  }

  .mark-read {

    margin-left: auto !important;
    margin-top: -25px;
  }

  .notification-item {

    background-color: #f7f7f7; /* optional, adds a light gray background */
  
    border-radius: 5px; /* adds a 10px radius to the corners */
  
    padding: 5px; /* adds some padding inside the box */
  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* adds a subtle shadow */
    border: 1px solid #ddd;

    margin-top: 1px; /* adds 5px space above each item */
  
    margin-bottom: 2px; /* adds 5px space below each item */
    margin-left: 3  px;
    margin-right: 6px;
  }

  .notification-item h4 {

  font-size: 11px !important; /* title */

  font-weight: bold;

  margin-top: 0; /* remove default margin */

}


.notification-item p {

  font-size: 10px; /* summary */

  margin-bottom: 0px; /* add some space before the date */

}


.notification-item small {

  font-size: 10px; /* date created */

  color: #666; /* slightly darker gray */

}


.notification-item span { /* read/unread status */

  font-size: 12px;

  color: #999; /* light gray */

  font-weight: bold;

}

.notification-item.DTR {

    background-color: rgba(165, 220, 30, 0.1); 
  
  }
  
  
  .notification-item.request {
  
    background-color: rgba(0, 114, 187, 0.1); 
  
  }

  .notification-item.warning {
  
    background-color: #f02a2a21
  
  }

  .scrollable-notifications {

    max-height: 360px !important;
  
    overflow-y: scroll !important;

    /* background-color: #666; */
    
  
  }
  
  
  .scrollable-notifications::-webkit-scrollbar {
  
    width: 10px;
  
    height: 10px;
  
  }
  
  
  .scrollable-notifications::-webkit-scrollbar-thumb {
  
    background-color: #ccc;
  
    border-radius: 10px;
  
  }
  
  
  .scrollable-notifications::-webkit-scrollbar-track {
  
    background-color: #f0f0f0;
  
    border-radius: 10px;
  
  }